html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  flex: 1; /* Push footer to bottom of page */
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-toggler-icon {
  transition: transform 0.3s ease;
}

.navbar-toggler:is(.collapsed) .navbar-toggler-icon {
  transform: rotate(180deg);
}

#search-btn {
  background-color: transparent;
  border: none;
  margin-top: 0;
}

#search-input {
  border-radius: 20px;
  padding: 5px;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

#search-input.active {
  width: 200px;
  opacity: 1;
  padding: 5px;
  border: 1px solid #ccc;
}

.table {
  overflow-x: auto;
  white-space: nowrap;
}

.card {
  width: 100%; /* let the grid system handle the card width based on the window size - ensuring responsiveness*/
  height: 400px; /* Matches the height of the images now */
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  padding: var(--bs-card-img-overlay-padding, 1rem);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: top 0.5s ease, opacity 0.5s ease;
}

.card:hover .overlay {
  top: 0;
  opacity: 1;
}

.overlay-content {
  text-align: center;
  color: white;
}

.overlay-button {
  background-color: var(--highlight-color);
  display: inline-block;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  max-width: 250px;
  width: auto;
  margin: 0 auto;
}

.overlay-button:hover {
  background-color: #17a2b8 !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  color: white;
  padding: 0;
  border-radius: 50% !important;
  width: 70px;
  height: 70px;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  display: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-to-top-btn:active {
  background-color: #004494;
  transform: scale(0.95);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.scroll-to-top-btn:hover {
  background-color: #17a2b8 !important;
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.book-tickets-btn {
}

footer {
  width: 100%;
}
